@model ShopingCartViewModel

@{
    ViewData["Title"] = "Total price of products in Cart !";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>
                Here we totalize product prices.
            </h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Select amount :</th>
                    <th>Movie :</th>
                    <th>Price :</th>
                    <th>Total price :</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShopingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount*item.Movie.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveProduct" asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>

                            <a class="text-success" asp-controller="Orders" asp-action="AddProductToShopingCart" asp-route-id="@item.Movie.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShopingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                @*<a class="btn btn-outline-primary" asp-action="CompleteOrder">
                        Complete purchase !
                    </a>*@
                <div id="paypal-btn"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                    Add more products !
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(Model.ShopingCartTotal);

        paypal.Button.render({
            // set up all the magic
            env: 'sandbox',
            client: {
                sandbox: 'AazAwMZEEfSxWTuS3WkwllTzYTUfv8ejS4AcOLh2jvAcgiFJaT9UQSh7qxkyIc_RN0jvrM71Cob7VRm1'
            },

            //Make button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            }, 
            commit: true,

            //Set up payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },

            //Make payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    //config the url
                    window.location.href = url;
                });
            }


        }, '#paypal-btn');
    </script>
}